.theme-dark {
	--text-normal: var(--white);
	--text-muted: var(--white-faint);
	--text-faint: var(--white-soft);
	--background-primary: var(--black);
	--background-primary-alt: var(--black-alt);
	--background-secondary: var(--black);
	--background-secondary-alt: var(--black-soft);

	--background-modifier-error: var(--red);
	--background-modifier-success: var(--green);
	--background-modifier-message: var(--blue);

	--text-success: var(--green1);
	--text-warning: var(--orange1);
	--text-error: var(--red1);

	--header-color: var(--orange1);

	--link-color: var(--cyan1);
	--link-external-color: var(--cyan1);
	--link-decoration: none;
	--link-external-decoration: none;
	--link-unresolved-color: var(--cyan1);
	--link-color-hover: var(--cyan1);
	--link-external-color-hover: var(--yellow1);
	--text-selection: var(--grey);

	--tag-color: var(--blue1);
	--tag-background: var(--background-primary);
	--tag-border-color: var(--blue1);
	--tag-border-width: 1px;

	--list-marker-color: var(--cyan1);
	--list-marker-color-hover: var(--blue1);
	--list-bullet-size: 6px;

	--table-border-width: 1px;
	--table-border-color: var(--cyan1);
	--table-header-background: var(--cyan1);
	--table-header-background-hover: var(--cyan);
	--table-header-color: var(--white);
}

.theme-light {
	--text-normal: var(--black-hard);
	--text-muted: var(--black);
	--text-faint: var(--black-soft);
	--background-primary: var(--white);
	--background-primary-alt: var(--white-soft);
	--background-secondary: var(--white-hard);
	--background-secondary-alt: var(--white);

	--background-modifier-error: var(--red1);
	--background-modifier-success: var(--green1);
	--background-modifier-message: var(--blue1);

	--text-success: var(--green);
	--text-warning: var(--orange);
	--text-error: var(--red);

	--header-color: var(--orange);

	--link-color: var(--cyan);
	--link-external-color: var(--cyan);
	--link-decoration: none;
	--link-external-decoration: none;
	--link-unresolved-color: var(--cyan);
	--link-color-hover: var(--cyan1);
	--link-external-color-hover: var(--yellow);
	--text-selection: var(--grey);

	--tag-color: var(--blue);
	--tag-background: var(--background-primary);
	--tag-border-color: var(--blue);
	--tag-border-width: 1px;

	--list-marker-color: var(--cyan);
	--list-marker-color-hover: var(--blue);
	--list-bullet-size: 6px;

	--table-border-width: 1px;
	--table-border-color: var(--cyan);
	--table-header-background: var(--cyan);
	--table-header-background-hover: var(--cyan1);
	--table-header-color: var(--white);
}

.is-unresolved {
	font-style: italic;
}

:root {
	/* color definitions */
	--dark_grey: #2e2e2e;
	--grey: #686b6c;
	--white: #faebd7;
	--white-soft: #d7d9c3;
	--white-hard: #f8f7f2;
	--white-muted: #e0d1be;
	--white-faint: #c4b6a3;
	--black: #252321;
	--black-alt: #343434;
	--black-soft: #23191e;
	--black-hard: #030106;
	--green: #196f18;
	--red: #b62625;
	--yellow: #94601e;
	--blue: #1a5bc4;
	--magenta: #9932cc;
	--cyan: #007575;
	--orange: #c04000;

	--green1: #00a661;
	--red1: #e36364;
	--yellow1: #baaf43;
	--blue1: #5e98bd;
	--magenta1: #d952db;
	--cyan1: #2fa39e;
	--orange1: #ff8936;

	--green2: #8abe80;
	--red2: #db9ea5;
	--yellow2: #b8935f;
	--blue2: #7aa8bf;
	--magenta2: #ebd2d8;
	--orange2: #e3c28d;
}

body {
    --font-monospace: "Hack Nerd Font", "Source Code Pro", monospace;
    -webkit-font-smoothing: auto;

    --h1-color: var(--header-color);
    --h2-color: var(--header-color);
    --h3-color: var(--header-color);
    --h4-color: var(--header-color);
    --h5-color: var(--header-color);
    --h6-color: var(--header-color);

	--link-unresolved-opacity: 0.8;

   --input-focus-border-color: Highlight;
   --input-focus-outline: 1px solid Canvas;
   --input-unfocused-border-color: transparent;
   --input-disabled-border-color: transparent;
   --input-hover-border-color: var(--red);

   --file-line-width: 90%;
}


.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
