.theme-dark {
	--pond: #4e98c5;
	--lake: #5fb3db;
	--coral: #c4757d;
	--terracotta: #f77c88;
	--bamboo: #50a27c;
	--shamrock: #74ba8b;
	--sand: #a78c41;
	--grass: #c4a35a;
	--lavender: #a27ebd;
	--bright-lavender: #b997d9;
	--sea_green: #39a391;
	--verdigris: #4ebcb7;
	--clay: #bf7e52;
	--leaves: #d09c5f;

	--sakura: #c57675;
	--lotus: #c1758b;
	--sunset: #919549;
	--oldwood: #c17b59;
	--redwood: #c07c56;
	--cherry: #d96488;
	--jade: #54a279;

	--text-normal: var(--ivory);
	--text-muted: var(--almond_dim);
	--text-faint: var(--candle);
	--background-primary: var(--basalt);
	--background-primary-alt: var(--jet);
	--background-secondary: var(--rock);
	--background-secondary-alt: var(--jet);
}

.theme-light {
	--pond: #1a6b95;
	--lake: #348bb1;
	--coral: #944a48;
	--terracotta: #b46959;
	--bamboo: #1b7451;
	--shamrock: #4c9165;
	--sand: #7a6006;
	--grass: #9b7b31;
	--lavender: #75528e;
	--bright-lavender: #9070af;
	--clay: #8e5225;
	--leaves: #a67537;

	--sakura: #944a4a;
	--lotus: #90495f;
	--sunset: #934c3b;
	--oldwood: #914f2e;
	--redwood: #90502a;
	--cherry: #c65378;
	--jade: #22744e;

	--text-normal: var(--onyx);
	--text-muted: var(--basalt);
	--text-faint: var(--kurobeni);
	--background-primary: var(--ivory);
	--background-primary-alt: var(--candle);
	--background-secondary: var(--ivory_light);
	--background-secondary-alt: var(--ivory);
}

.is-unresolved {
	font-style: italic;
}

:root {
	/* color definitions */
	--rock: #2e2e2e;
	--gravel: #686b6c;
	--ivory: #faebd7;
	--candle: #d7d9c3;
	--ivory_light: #fffaf2;
	--almond: #efdecd;
	--almond_dim: #e8d8c1;
	--basalt: #202020;
	--jet: #343434;
	--kurobeni: #23191e;
	--onyx: #030106;
	--silver: #71706e;

}

body {
    --font-monospace: "Hack Nerd Font", "Source Code Pro", monospace;
    -webkit-font-smoothing: auto;

    --h1-color: var(--header-color);
    --h2-color: var(--header-color);
    --h3-color: var(--header-color);
    --h4-color: var(--header-color);
    --h5-color: var(--header-color);
    --h6-color: var(--header-color);

	--link-unresolved-opacity: 0.8;

   --input-focus-border-color: Highlight;
   --input-focus-outline: 1px solid Canvas;
   --input-unfocused-border-color: transparent;
   --input-disabled-border-color: transparent;
   --input-hover-border-color: var(--red);

   --file-line-width: 90%;

	--background-modifier-error: var(--coral);
	--background-modifier-success: var(--bamboo);
	--background-modifier-message: var(--pond);

	--text-success: var(--shamrock);
	--text-warning: var(--leaves);
	--text-error: var(--terracotta);

	--header-color: var(--clay);

	--link-color: var(--pond);
	--link-external-color: var(--sea_green);
	--link-decoration: none;
	--link-external-decoration: none;
	--link-unresolved-color: var(--sea_green);
	--link-color-hover: var(--lake);
	--link-external-color-hover: var(--grass);
	--text-selection: var(--gravel);

	--tag-color: var(--pond);
	--tag-background: var(--background-primary);
	--tag-border-color: var(--pond);
	--tag-border-width: 1px;

	--list-marker-color: var(--sand);
	--list-marker-color-hover: var(--grass);
	--list-bullet-size: 6px;

	--checkbox-color: var(--gravel);
	--checkbox-color-hover: var(--grass);
	--checklist-done-color: var(--gravel);
	--checklist-done-decoration: underscore;

	--table-border-width: 1px;
	--table-border-color: var(--sand);
	--table-header-background: var(--sand);
	--table-header-background-hover: var(--sand);
	--table-header-color: var(--ivory);
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
